* {
  font-family: 'basiic';
}

body {
  min-height: 100vh;
  background: #FFF7FC;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face{
  font-family: 'basiic';
  src: url("https://cinni.net/fonts/basiic.ttf");
}
